* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
html {
  overflow-x: hidden;
}
nav {
  background-color: rgb(13, 146, 199);
}
.nav .mainicon {
  padding: 1rem;
  margin-right: 2rem;
}
span.mainicon {
  font-size: 1.5rem;
  color: white;
}
.nav .mainicon img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav::after {
  background-color: black;
  height: 400px;
}
.nav-items a {
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}
.nav-items a:hover {
  background-color: deepskyblue;
  color: white;
}
.hamburger {
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
.hamburger i {
  color: white;
  display: none;
}

.background {
  background: url("house1.jpeg");
  width: 100%;
  height: 80vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
.content {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 4rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
}
@keyframes fadeOut {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
.content span {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  white-space: nowrap;
  animation: fadeOut 0.2s linear backwards 0.2s;
}
.content h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  animation: fadeOut 0.2s linear backwards 0.4s;
}
.button {
  margin-top: 4rem;
  display: inline-block;
  color: white;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: rgb(13, 146, 199);
  font-weight: bold;
  animation: fadeOut 0.2s linear backwards 0.6s;
  text-decoration: none;
}
.button:hover {
  background-color: deepskyblue;
  color: white;
}
.home-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.home-about .home-content h3 {
  font-size: 2rem;
}
.home-about .home-content p {
  width: 20rem;
  font-weight: 100;
  color: rgb(94, 93, 93);
}

.home-about .image .responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.home-about .home-content {
  margin: 2rem;
  background-color: rgb(228, 226, 226);
  box-shadow: 5px 5px 5px 5px #e3e1e1;
  text-align: center;
}

@media screen and (max-width: 743px) {
  .hamburger i {
    display: block;
  }
  .header .navbarone {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid black;
    padding: 2rem;
    transform: 0.2s ease linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 1000;
  }
  .header .navbarone.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbarone a {
    display: block;
    margin: 2rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
  .header .navbarone a:hover {
    background-color: skyblue;
    color: white;
  }
}

.home-rental .heading-title h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.card-body {
  text-align: center;
  background-color: rgb(228, 228, 228);
}
.card img{
  transition: transform .5s ease;
}
.card img:hover{
  transform: scale(.9);
}

@media screen and (max-width: 560px) {
  .content span {
    color: white;
    font-weight: 600;
    font-size: 3rem;
  }
  .content h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .button {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 400px) {
  .content span {
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  section {
    padding: 2rem 2rem;
  }
}
section {
  padding: 2rem 5%;
}

@media (max-width: 460px) {
  .home-rental .heading-title h3 {
    font-size: 1.8rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.container{
  margin: 5rem 0;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 800;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content-form form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #8d7ee0;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 form .button{
width: 100%;
text-align: center;
height: fit-content;
padding: .1rem;
margin-top:1rem ;
 }
 form .button:hover{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content-form form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content-form .category{
    flex-direction: column;
  }
}


.foot{
  color: black;
}
.foot a{
  color: black;
}

